.whatsnewdiv ::-webkit-scrollbar-track
{
	border: 5px solid white;
	border-top: 0;
	border-bottom: 0;
	border-right-color: #f5f7f8;
}

.whatsnewdiv ::-webkit-scrollbar
{
	width: 12px;
	min-height: 100%!important;
	background-color: #f5f7f8;
}

.whatsnewdiv ::-webkit-scrollbar-thumb
{
	background-color: #4285f4;
	border-radius: 10px;
}
